BETTER_AUTH_SECRET=sekret
API_BASE_URL=https://mobilelens.duckdns.org
PUBLIC_MEDIA_URL=https://mobilelens.duckdns.org/media
PORT=3000
ALLOWED_ORIGINS=http://localhost:5173
EMAIL_VERIFICATION=false
AUTO_AGGREGATION=false



