  GNU nano 7.2                                          Caddyfile
# infra/Caddyfile

mobilelens.duckdns.org {
    handle_path /media/* {
        reverse_proxy minio:9000
    }

    handle {
        reverse_proxy api:3000
    }
}

